@font-face {
    font-family: 'chunkstylemodern-regular';
    src: url('/fonts/chunk/chunkstylemodern-webfont.eot');
    src: url('/fonts/chunk/chunkstylemodern-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/chunk/chunkstylemodern-webfont.woff2') format('woff2'),
         url('/fonts/chunk/chunkstylemodern-webfont.woff') format('woff'),
         url('/fonts/chunk/chunkstylemodern-webfont.ttf') format('truetype'),
         url('/fonts/chunk/chunkstylemodern-webfont.svg#chunkstyle_modernregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chunkstylegr-regular';
    src: url('/fonts/chunk/chunkstylegr-webfont.eot');
    src: url('/fonts/chunk/chunkstylegr-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/chunk/chunkstylegr-webfont.woff2') format('woff2'),
         url('/fonts/chunk/chunkstylegr-webfont.woff') format('woff'),
         url('/fonts/chunk/chunkstylegr-webfont.ttf') format('truetype'),
         url('/fonts/chunk/chunkstylegr-webfont.svg#chunkstyle_grregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'severancethesequel-medium';
    src: url('/fonts/severance/severancethesequel_medium-webfont.eot');
    src: url('/fonts/severance/severancethesequel_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/severance/severancethesequel_medium-webfont.woff2') format('woff2'),
         url('/fonts/severance/severancethesequel_medium-webfont.woff') format('woff'),
         url('/fonts/severance/severancethesequel_medium-webfont.ttf') format('truetype'),
         url('/fonts/severance/severancethesequel_medium-webfont.svg#severance_the_sequelmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'severancethesequel-medium-gr';
    src: url('/fonts/severance/severancethesequel_medium-webfont-gr.eot');
    src: url('/fonts/severance/severancethesequel_medium-webfont-gr.eot?#iefix') format('embedded-opentype'),
         url('/fonts/severance/severancethesequel_medium-webfont-gr.woff2') format('woff2'),
         url('/fonts/severance/severancethesequel_medium-webfont-gr.woff') format('woff'),
         url('/fonts/severance/severancethesequel_medium-webfont-gr.ttf') format('truetype'),
         url('/fonts/severance/severancethesequel_medium-webfont-gr.svg#severance_the_sequelmedium_gr') format('svg');
    font-weight: normal;
    font-style: normal;
}