body{
	@include font-smoothing(on);
	@extend .sky-blue-bg;
	//@extend .green-hill-bg;
	//@extend .barn-uneven-bg;
}

article{
	@extend .small-only-text-center;
}

h1{
    font-family: 'chunkstylemodern-regular';
}

h2{
	font-family: 'severancethesequel-medium';
}

h3{
	font-family: 'chunkstylemodern-regular';
}