.panel{
	box-shadow:none;

	.panel-heading{
		border-top:1px solid #CCCCCC;
		border-left:1px solid #CCCCCC;
		border-right:1px solid #CCCCCC;
	}

	.panel-body{
		border-bottom:1px solid #CCCCCC;
		border-left:1px solid #CCCCCC;
		border-right:1px solid #CCCCCC;
		background-color: #CCCCCC;
	}
}